h2{
    display: block;
}

h3{
    display: block;
    padding: 0px;
    margin: 10px;
}

p{
    margin-left: 10px;
    margin-right: 100px;
}

#nav {
    background-color: #333333;
    width: 100%;
}

#project{
    margin: 10px;
    margin-bottom: 30px;
}
#project img{
    border: none;
    height: 50px;
    width: 68px;
}

#project a{
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    color: blue;
}

#project p{
    margin-left: 74px;
}

u1 {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #333333
}

li a{
    float: left;
    color:white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #333333;
}

li a:hover {
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}

.column{
    flex: 30%;
    padding: 0 4px;
}

.column img{
    border: none;
    margin-top: 8px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
