h2{
    display: block;
    font-size: 2em;
}
img{
    border: 1px solid #000000;
    height: 100 px;
    width: 100 px;
}

#nav {
    background-color: #333333;
    width: 100%;
}

u1 {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #333333
}

li a{
    float: left;
    color:white;
    text-decoration: none;
}

a {
    display: block;
    padding: 10px;
    background-color: #333333;
}

li a:hover {
    background-color: black;
}
